.profile-bar {
    background-color:blueviolet;
    color: white;
    left: 0;
    top: var(--navbar-height);
    height: 100vh;
    width: 10vw;
    flex-direction: column;
    position: fixed;
    transition: width 0.3 ease;
    overflow: hidden;
    transition: all 1s;
}

.profile-bar.expanded {
    background-color: white;
    border-right: 2px solid blueviolet;
    color: blueviolet;
    border-width: 2px;
    width: 20vw;
}

.profile-options {
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.pb-header {
    font-size: xx-large;
}

.pb-el {
    padding: 2vh;
    background-color: inherit;
    color: blueviolet;
}